<form action='/appointments/hygienist/:id' method='POST'>
  Add New Appointment
  <br><br>
  Appointment Time:
  <br>
  <select class="form-control form-control-sm" name="form_time">
    <% for (let time of times) { %>
      <option value='<%= time.time %>' selected>
        <%= time.time %>
      </option>
      <% } %>
  </select>
  <br>
  Patient's Name:
  <br>
  <select class="form-control form-control-sm" name="form_patient_id">
    <% for (let patient of patients) { %>
      <option value='<%= patient.patient_id %>' selected>
        <%= patient.patient_name %>
      </option>
      <% } %>
  </select>
  <br>
  Service:
  <br>
  <input type="text" class="form-control form-control-sm" name="form_service"></input>
  <br>
  Date:
  <br>
  <input type="date" name="form_date" value='<%= selectedDate %>'></input>
  <br>
  <br>
  Hygienist:
  <br>
  <select name="form_hygienist_id" class="form-control form-control-sm">
    <% for (let hygienist of hygienists) { %>
      <option value='<%= hygienist.hygienist_id %>' selected>
        <%= hygienist.hygienist_name %>
      </option>
      <% } %>
  </select>
  <br><br>
  <div class="text-center">
    <button class="btn btn-md btn-secondary" id="submit" type="submit">Submit</button>
  </div>
</form>