<%- include('./css/edit-patient-form-style'); %>

  <div id="editModal" class="editmodal">
    <div class="edit-modal-content">
      <span class="editclose">&times;</span>

      <form action='/patients/record/:patient_id' method='POST'>
        <input type="hidden" name="form_patient_id" value='<%= currentPatient.patient_id %>' />
        Edit Patient
        <br /><br />
        Patient's Name: <label class="fw-bold">
          <%= currentPatient.patient_name %>
        </label>
        <br /><br />
        Patient's Address:
        <br>
        <input type="text" class="form-control form-control-sm" name="form_patient_address"
          value='<%= currentPatient.patient_address %>' />
        <br>
        Phone No:
        <br>
        <input type="phone" class="form-control form-control-sm" name="form_patient_phone"
          value='<%= currentPatient.patient_phone %>' />
        <br>
        Email:
        <br>
        <input type="email" class="form-control form-control-sm" name="form_patient_email"
          value='<%= currentPatient.patient_email %>' />
        <br>
        Insurance:
        <br>
        <input type="text" class="form-control form-control-sm" name="form_patient_insurance"
          value='<%= currentPatient.patient_insurance %>' />
        <br><br>
        <div class="text-center">
          <button class="btn btn-lg btn-secondary" id="submit" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <%- include('./main-patients-view'); %>
    <script>
      // edit patient modal window
      let editmodal = document.getElementById("editModal");

      let editspan = document.getElementsByClassName("editclose")[0];

      editspan.onclick = () => { editmodal.style.display = "none"; };
      submitBtn.onclick = () => { editmodal.style.display = "none"; };

      window.onclick = (event) => {
        if (event.target == editmodal) {
          editmodal.style.display = "block";
        }
      };
    </script>