<%- include('./includes/head'); %>
  <%- include('./css/patients-view-style'); %>
    <title>Patient Records</title>

    <body class="body">
      <div class="btn-text-right">
        <form name="form1" method="get" action="/logout">
          <button class="btn btn-primary" type="submit" name="logout">Logout</button>
        </form>
      </div>
      <h4 class="text-center">Patient Records</h4>

      <%# Add appointments %>
        <br />
        <button id="addbtn" class="btn btn-secondary"> Add New Patient </button>
        <%# Show/Hide ADD patient window modal%>
          <div id="addModal" class="addmodal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <%- include('./add-patient-form'); %>
            </div>
          </div>

          <%# Display list of patients %>

            <body class="body">

              <!-----Start of Patients Table----->
              <table width="90%" id="app">
                <tr>
                  <th>Patient's Name</th>
                  <th>Address</th>
                  <th>Contact No.</th>
                  <th>Insurance</th>
                </tr>

                <% for (let patient of patients) { %>

                  <tr>
                    <td width="15%">
                      <%= patient.patient_name%>
                    </td>
                    <td width="35%">
                      <%= patient.patient_address%>
                    </td>
                    <td>
                      <%= patient.patient_phone%>
                    </td>
                    <td>
                      <%= patient.patient_insurance%>
                    </td>

                    <form action="/patients/appointments/view/<%=patient.patient_id%>" method="GET">
                      <td width="5%" style="margin: center; width: 100px"><button type="submit" class="btn btn-info"> <svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                              d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                          </svg></button></td>
                    </form>
                    <form action='/patients/record/edit/<%=patient.patient_id%>' method='GET'>
                      <td width="5%" style="margin: center; width: 100px"><button type="submit" class="btn btn-warning"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil" viewBox="0 0 16 16">
                            <path
                              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                          </svg></button></td>
                    </form>
                    <form action='/patients/record/delete/<%=patient.patient_id%>' method='POST'
                      onSubmit="return confirm('Delete selected patient, are you sure?') ">
                      <td width="5%" style="margin: center; width:100px"><button type="submit" id="submit" class="btn btn-danger"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                            <path
                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                          </svg>
                        </button>
                        </button></td>

                    </form>

                  </tr>
                  <% } %>
              </table>
              <!-----End of Patient Table----->
            </body>
            <br>
            <p>
            <form action='/appointments/hygienist' method='GET'>
              <button id="patientbtn" class="btn btn-secondary"> Back to Appointments </button>
            </form>
            </p>

            <% if (messages && messages.length> 0 ) { %>
              <input type="hidden" id="Message" value='<%= messages[0] %>'/>   
               <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>   
              <script>
                     const input = document.getElementById("Message");
                      swal(input.value)
              </script>
            <% } %>

            <script>
              // add window modal patient
              let addmodal = document.getElementById("addModal");
              let btn = document.getElementById("addbtn");
              let span = document.getElementsByClassName("close")[0];
              let addBtn = document.getElementById("addButton");

              btn.onclick = () => { addmodal.style.display = "block"; };
              span.onclick = () => { addmodal.style.display = "none"; };
              submitBtn.onclick = () => { addmodal.style.display = "none"; };

              window.onclick = (event) => {
                if (event.target == addmodal) {
                  addmodal.style.display = "block";
                }
              };

            </script>

            <script>
              // edit patient window modal
              let editmodal = document.getElementById("editModal");

              let editspan = document.getElementsByClassName("editclose")[0];

              editspan.onclick = () => { editmodal.style.display = "none"; };
              submitBtn.onclick = () => { editmodal.style.display = "none"; };

              window.onclick = (event) => {
                if (event.target == editmodal) {
                  editmodal.style.display = "block";
                }
              };

            </script>

            <%# Display Developer %>
              <footer>Jerry Galang - 2023 Backend Web Development</footer>

              </html>